.dot-matrix {
  --reveal-scaled: calc(max(0, (var(--reveal-percent) - 0.25) / 0.75));

  transition: filter var(--reveal-speed) linear;
  filter: contrast(calc(min(160%, max(100%, (160% * (1 - var(--reveal-scaled))) - 0.25))));

  &::after {
    mix-blend-mode: hard-light !important;
    background: radial-gradient(circle at center,
        var(--color-text),
        var(--color-background));
    background-size: 0.25em 0.25em;
    transition: opacity var(--reveal-speed) linear;
    opacity: min(0.75, max(0, calc((1 - var(--reveal-scaled)) - 0.25)));
  }

  & * {
    transition: filter var(--reveal-speed) linear;
    filter: grayscale(calc(1 - var(--reveal-scaled)));
  }
}

.dot-matrix-trigger:hover .dot-matrix,
.dot-matrix-trigger:active .dot-matrix,
.dot-matrix-trigger:focus-visible .dot-matrix,
.dot-matrix__reveal:hover,
.dot-matrix__reveal:active,
.dot-matrix__reveal:focus-visible {
  --reveal-scaled: 1;
}